<h4>Seja bem-vindo!</h4>

{{!-- <table>
    <tr>
        <th>Nome</th>
        <th>Email</th>
    </tr>
    {{# each user}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.email}}</td>
        </tr>
    {{/ each}}
</table> --}}